<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=500">
  </head>
  <body>
  <h1>ふれいま牧場</h1>
    <canvas id="canvas" width=500 height=300></canvas>
    <div id="toolbox">
      <img src="images/sheep.svg" id="sheep" draggable="true">
      <button id="speek">羊を牧場に放牧した後、押してね</button>
      <script src="js/script.js"></script>
    </div>
  </body>
</html>
