body {
  margin: 0;
  padding: 0;
  width:100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
}

a {
  color: #00B7FF;
}

div#wrapper{
  position:relative;
  margin: 0 0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
}

#box-left, #box-right{
  position:relative;
  -moz-box-flex:1;
  -webkit-box-flex:1;
  -o-box-flex:1;
  -ms-box-flex:1;
  box-flex:1;
  z-index:3;
  background-color:#fff;
  opacity:1;
}


#box-center{
  background-color:#fff;
  position:relative;
  width:auto;
  height:auto;
  -index:1;
}

#comment1{
 top:0em;
}

#comment2{
 top:2em;
}

#comment3{
 top:4em;
}

#comment4{
 top:6em;
}

#comment5{
 top:8em;
}

.comment-left{
  color:#000;
  font-size:2em;
  z-index:2;
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
  position:absolute;
  left:0px;
  -webkit-transition:left 3s linear 0;
  transition:left 3s linear 0;
}

.comment-right{
  color:#000;
  font-size:2em;
  z-index:2;
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
  position:absolute;
  left:100%;
}

video#video{
  width:500px;
  height:312px;
  border:3px solid #AAA;
  -webkit-border-radius: 10px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 10px; /* Firefox用 */
  border-radius: 10px;    /* CSS3草案 */
}
