<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="html5/css/style2.css" />
    <meta name="viewport" content="width=800">
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="wrapper">
      <div class="box" id="box-left"></div>
      <div class="box" id="box-center">
        <video id="video" class="box" poster="html5/images/sheep.svg" preload="auto" controls autoplay loop muted>
          <source src="html5/movies/sheep.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="html5/movies/sheep.ogv" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <form action="" method="POST" id ="comment-form">
          <input type="text" name="comment" id="comment-input">
          <input type="submit" value="送信">
        </form>
      </div>
      <div class="box" id="box-right"></div>
      <div id="comment1" class="comment-right"></div>
      <div id="comment2" class="comment-right"></div>
      <div id="comment3" class="comment-right"></div>
      <div id="comment4" class="comment-right"></div>
      <div id="comment5" class="comment-right"></div>
    </div>
    <script src="html5/js/script2.js"></script>
  </body>
</html>
